<header>
  <h1>Tecnologías y Sistemas Web 24/25</h1>
  <h2>Invitado Ver Libro</h2>
</header>
<article>
  <nav class="navbar">
    <ul>
      <li><a id="homeLink" href="index.html">Inicio</a></li>
      <li><a id="ingresoLink" href="invitado-ingreso.html">Ingreso</a></li>
      <li><a id="registroLink" href="invitado-registro.html">Registro</a></li>
    </ul>
  </nav>
  <div class="contenido">
    <nav class="toolbar">
      <ul>
        <!-- <li><a id="homeLink" href="index.html">Inicio</a></li>
        <li><a id="ingresoLink" href="ingreso.html">Ingreso</a></li>
        <li><a id="registroLink" href="registro.html">Registro</a></li> -->
      </ul> 
    </nav> 
    <div class="info">
      <div class="mensajes-container" id="mensajesContainer"></div>
      <!-- <div id="catalogo" class="catalogo"></div>    -->
      <div id="detalle" class="detalle">
        <div>
          <label for="isbnParagraph">ISBN</label>
          <p id="isbnParagraph"></p>
        </div>
        <div>
          <label for="tituloParagraph">Título</label>
          <p id="tituloParagraph"></p>
        </div>
        <div>
          <label for="autoresParagraph">Autores</label>
          <p id="autoresParagraph"></p>
        </div>
        <div>
          <label for="resumenParagraph">Resumen</label>
          <p id="resumenParagraph"></p>
        </div>
        <div>
          <label for="stockParagraph">Stock</label>
          <p id="stockParagraph"> </p>
        </div>
        <div>
          <label for="precioParagraph">Precio €</label>
          <p id="precioParagraph"></p>
        </div>
      </div>
    </div>
    <footer>
      Prof. Dr. Ricardo Tesoriero Pszytula<br>
      Tecnologías y Sistemas Web 24/25<br>
      Universidad de Castilla-La Mancha<br>
      <small>20 de septiembre de 2021</small>
    </footer>
  </div>
</article>