<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Cliente Carro</title>
</head>

<body class="carrito-page">
  <header>
    <h1>Tecnologías y Sistemas Web 24/25</h1>
    <h2>Cliente Carro</h2>
  </header>

  <article>
    <!-- Menú lateral -->
    <nav class="navbar">
      <ul>
        <li><a id="homeLink" href="cliente-home.html">Inicio</a></li>
        <li><a id="carroLink" href="cliente-carro.html">Carro</a></li>
        <li><a id="facturasLink" href="cliente-compras.html">Facturas</a></li>
        <li><a id="perfilLink" href="cliente-perfil.html">Perfil</a></li>
        <li><a id="salirLink" href="home.html">Salir</a></li>
      </ul>
    </nav>

    <!-- Contenido principal -->
    <div class="contenido">
      <div class="mensajes-container" id="mensajesContainer"></div>
      <form id="comprarForm" class="carro">
          <div class="container-table">
          <table>
            <thead>
              <tr>
                <th class="item-cantidad">Cant.</th>
                <th class="item-detalle">Detalle</th>
                <th class="item-unidad">Unidad</th>
                <th class="item-total">Total</th>
              </tr>
            </thead>
            <tbody id="carroBody">
            </tbody>
          </table>
          </div>
        
          <div class="totales">
            <p class="p1"><strong>IVA €</strong> <span id="ivaTotal">0.00</span></p>
            <p class="p2"><strong>Total €</strong> <span id="totalFinal">0.00</span></p>
          </div>

          <div class="botonera">
            <button type="submit" id="comprarInput" class="boton">Comprar</button>
          </div>
        </form>
      
      <footer>
        Prof. Dr. Ricardo Tesoriero Pszytula<br>
        Tecnologías y Sistemas Web 24/25<br>
        Universidad de Castilla-La Mancha<br>
        <small>20 de septiembre de 2021</small>
      </footer>
    </div>
  </article>

  <script type="module" src="../js/main.mjs"></script>
</body>

</html>
