<header>
    <h1>Tecnologías y Sistemas Web 24/25</h1>
    <h2>Historial de Compras</h2>
  </header>
  <article>
    <nav class="navbar">
      <ul>
        <li><a href="cliente-home.html">Inicio</a></li>
        <li><a href="cliente-carro.html">Carro</a></li>
        <li><a href="cliente-compras.html">Facturas</a></li>
        <li><a href="cliente-perfil.html">Perfil</a></li>
        <li><a href="home.html">Salir</a></li>
      </ul>
    </nav>
    <div class="contenido">
      <div class="mensajes-container" id="mensajesContainer"></div>
      <div class="info">
        <table id="listaCompras" class="lista-compras">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Número de Factura</th>
              <th>Razón Social</th>
              <th>Total (€)</th>
            </tr>
          </thead>
          <tbody>
            <!-- Aquí se llenarán las compras de forma dinámica -->
          </tbody>
        </table>
      </div>
    </div>
  </article>
  